<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div class="card3">
    <form class="registrat" action="/login" method="post">
        <label class="username_label" for="username">Username:</label>
        <p><input class="reg" type="text" id="login" name="username"></p>
        <label class="pw_label" for="password">Password:</label>
        <p><input class="reg" type="password" name="password" id="login"></p>
        <button class="reg" type="submit">Login</button>
    </form>
    <form action="/" method="get">
        <button class="reg" type="submit">Go back to Homepage</button>
    </form>
    {% if invalid_username_or_password %}
        {{ invalid_username_or_password }}
    {% endif %}
</div>
</body>
</html>