<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<div class="card" style="display: inline-block">
<form class="registrat" action="/registration" method="post">
    <label for="username">Username:</label>
    <p><input class="reg" type="text" name="username" required></p>
</div>
<div class="card2" style="display: inline-block">
    <label for="password">Password:</label>
    <p><input class="reg" type="password" name="password" required></p>
    <label for="confirm_password">Confirm password:</label>
    <p><input class="reg" type="password" name="confirm_password" required></p>
    <button class="reg" type="submit">Register</button>
    {% if invalid_confirm_pw %}
        {{ invalid_confirm_pw }}
    {% endif %}
    {% if invalid_username %}
        {{ invalid_username }}
    {% endif %}
</form>
<form action="/" method="get">
        <button class="reg" type="submit">Go back to Homepage</button>
    </form>
</div>
</body>
</html>